In [1]:
import pandas as pd
from lizard_connector import Client
cli = Client()
cli.endpoints

('datasources',
 'overflows',
 'buildings',
 'scenarios',
 'messages',
 'annotations',
 'favourites',
 'locations',
 'orifices',
 'contactgroups',
 'outlets',
 'pipes',
 'timeseriestypes',
 'pumpstations',
 'wastewatertreatmentplants',
 'rasteralarms',
 'leveesections',
 'rasters',
 'inbox',
 'polders',
 'wmslayers',
 'leveezones',
 'assetgroups',
 'domains',
 'contacts',
 'opticalfibers',
 'parcels',
 'pumps',
 'organisations',
 'manholes',
 'weirs',
 'fixeddrainagelevelareas',
 'nodes',
 'bridges',
 'search',
 'events',
 'users',
 'eventseries',
 'colormaps',
 'pi',
 'pressurepipes',
 'levees',
 'pumpeddrainageareas',
 'regions',
 'leveereferencepoints',
 'scenario-results',
 'filters',
 'observationtypes',
 'groundwaterstations',
 'leveecrosssections',
 'leveerings',
 'sluices',
 'culverts',
 'measuringstations',
 'roads',
 'timeseriesalarms',
 'timeseries',
 'monitoringwells')

De connectie met Lizard is gemaakt en bovenstaand zijn alle beschikbare endpoints. 

Nu gaan we de metadata verzamelen van de eerste 100 timeseries:

In [2]:
metadata, events = next(cli.timeseries.download_paginated())
metadata

,access_modifier,code,datasource,end,id,interval,last_value,location__code,location__geometry,location__geometry__coordinates,...,observation_type__unit,observation_type__url,percentiles,start,supplier,supplier_code,timeseries_type,url,uuid,value_type
0,Publiek,NEERSG::second::1::86400,None,2009-12-31 23:00:00,28,86400,0.000,3201,NaN,NaN,...,,https://demo.lizard.net/api/v3/observationtype...,[],1230764400000,None,None,None,https://demo.lizard.net/api/v3/timeseries/5219...,5219e208-ae2b-4c48-939c-3c9371eb8577,float
1,Publiek,VERDPG::second::1::86400,None,2009-12-31 23:00:00,29,86400,0.100,3201,NaN,NaN,...,,https://demo.lizard.net/api/v3/observationtype...,[],1230764400000,None,None,None,https://demo.lizard.net/api/v3/timeseries/f1f2...,f1f20885-b09b-40fa-a717-1bfd4dffa60e,float
2,Publiek,WATHTE::second::1::86400,None,2009-12-31 23:00:00,30,86400,-1.380,3201,NaN,NaN,...,,https://demo.lizard.net/api/v3/observationtype...,[],1230764400000,None,None,None,https://demo.lizard.net/api/v3/timeseries/edfa...,edfa7e79-9ad7-4c0f-9a5c-3d537a6401b2,float
3,Publiek,WATHTE.onder::second::1::86400,None,2009-12-31 23:00:00,31,86400,-1.390,3201,NaN,NaN,...,,https://demo.lizard.net/api/v3/observationtype...,[],1230764400000,None,None,None,https://demo.lizard.net/api/v3/timeseries/f453...,f4531e72-fcec-48c5-ae4a-9d54e6731870,float
4,Publiek,WATHTE.boven::second::1::86400,None,2009-12-31 23:00:00,32,86400,-1.370,3201,NaN,NaN,...,,https://demo.lizard.net/api/v3/observationtype...,[],1230764400000,None,None,None,https://demo.lizard.net/api/v3/timeseries/176e...,176e57fd-f04f-4389-b254-1e8226d669c9,float
5,Publiek,KWEL::second::1::86400,None,2009-12-31 23:00:00,33,86400,0.000,3201,NaN,NaN,...,,https://demo.lizard.net/api/v3/observationtype...,[],1230764400000,None,None,None,https://demo.lizard.net/api/v3/timeseries/9002...,9002671e-cfe0-4098-a0ee-00b6bbe7fc8a,float
6,Publiek,WEGZ::second::1::86400,None,2009-12-31 23:00:00,34,86400,-4.300,3201,NaN,NaN,...,,https://demo.lizard.net/api/v3/observationtype...,[],1230764400000,None,None,None,https://demo.lizard.net/api/v3/timeseries/2b8a...,2b8a9f82-7803-421b-8e8f-485dc3e6753f,float
7,Publiek,CL::second::1::86400,None,2009-12-31 23:00:00,35,86400,0.120,3201,NaN,NaN,...,,https://demo.lizard.net/api/v3/observationtype...,[],1262300400000,None,None,None,https://demo.lizard.net/api/v3/timeseries/4484...,4484444b-35c1-4ed7-9320-78e1a0c8ab26,float
8,Publiek,NUTRIC_MIN::second::1::86400,None,2009-12-31 23:00:00,36,86400,0.000,3201,NaN,NaN,...,,https://demo.lizard.net/api/v3/observationtype...,[],1230764400000,None,None,None,https://demo.lizard.net/api/v3/timeseries/904b...,904b746d-8858-4dd6-bd1f-21f61e4482d4,float
9,Publiek,NUTRIC_INC::second::1::86400,None,2009-12-31 23:00:00,37,86400,0.000,3201,NaN,NaN,...,,https://demo.lizard.net/api/v3/observationtype...,[],1230764400000,None,None,None,https://demo.lizard.net/api/v3/timeseries/3693...,3693112b-cee4-461d-b331-b6a3008aba9b,float
10,Publiek,drainage_indraft::second::1::86400,None,2009-12-31 23:00:00,39,86400,0.000,3201_gw2,NaN,NaN,...,,https://demo.lizard.net/api/v3/observationtype...,[],1230764400000,None,None,None,https://demo.lizard.net/api/v3/timeseries/5880...,58808b19-38d9-4b6a-bc53-2b711081a85c,float
11,Publiek,drainage_indraft::second::1::86400,None,2009-12-31 23:00:00,40,86400,0.000,3201_gw3,NaN,NaN,...,,https://demo.lizard.net/api/v3/observationtype...,[],1230764400000,None,None,None,https://demo.lizard.net/api/v3/timeseries/d1c7...,d1c7cb58-0e56-475d-89cb-acb40947bbb6,float
12,Publiek,flow_off::second::1::86400,None,2009-12-31 23:00:00,41,86400,0.000,3201_gw1,NaN,NaN,...,,https://demo.lizard.net/api/v3/observationtype...,[],1230764400000,None,None,None,https://demo.lizard.net/api/v3/timeseries/a44a...,a44a2126-ff6e-4b6c-8fc7-0d22fcd8463b,float
13,Publiek,flow_off::second::1::86400,None,2009-12-31 23:00:00,42,86400,0.000,3201_gw2,NaN,NaN,...,,https://demo.lizard.net/api/v3/observationtype...,[],1230764400000,None,None,None,https://demo.lizard.net/api/v3/timeseries/5b96...,5b968e4a-ca78-4816-9700-020ec95919cc,float
14,Publiek,flow_off::second::1::86400,None,2009-12-31 23:00:00,43,86400,0.000,3201_gw3,NaN,NaN,...,,https://demo.lizard.net/api/v3/observationtype...,[],1230764400000,None,None,None,https://demo.lizard.net/api/v3/timeseries/1118...,111839c7-6fe1-4bcf-9f58-e5fb65a92f8e,float
15,Publiek,Qoverstort::second::1::86400,None,2009-12-31 23:00:00,44,86400,0.000,3201_gw1,NaN,NaN,...,,https://demo.lizard.net/api/v3/observationtype...,[],1230764400000,None,None,None,https://demo.lizard.net/api/v3/timeseries/2bb3...,2bb378c2-c8d7-4f27-802a-843b06c586e4,float
16,Publiek,Qoverstort::second::1::86400,None,2009-12-31 23:00:00,45,86400,0.000,3201_gw2,NaN,NaN,...,,https://demo.lizard.net/api/v3/observationtype...,[],1230764400000,None,None,None,https://demo.lizard.net/api/v3/timeseries/acda...,acda05a1-8026-4736-a4e0-55afd9aaf166,float
17,Publiek,Qoverstort::second::1::86400,None,2009-12-31 23:00:00,46,86400,0.000,3201_gw3,NaN,NaN,...,,https://demo.lizard.net/api/v3/observationtype...,[],1230764400000,None,None,None,https://demo.lizard.net/api/v3/timeseries/5790...,5790b773-49f2-4cc6-be4c-f65ccb1ccb55,float
18,Publiek,KWEL::second::1::86400,None,2009-12-31 23:00:00,47,86400,-3.000,3201_gw1,NaN,NaN,...,,https://demo.lizard.net/api/v3/observationtype...,[],1230764400000,None,None,None,https://demo.lizard.net/api/v3/timeseries/487b...,487b7216-f1c8-4bb3-9ad6-e56790dac352,float
19,Publiek,KWEL::second::1::86400,None,2009-12-31 23:00:00,48,86400,-2.000,3201_gw2,NaN,NaN,...,,https://demo.lizard.net/api/v3/observationtype...,[],1230764400000,None,None,None,https://demo.lizard.net/api/v3/timeseries/f374...,f3741a13-e9c9-4b95-9ef8-53a5200f1e6a,float
20,Publiek,KWEL::second::1::86400,None,2009-12-31 23:00:00,49,86400,2.800,3201_gw3,NaN,NaN,...,,https://demo.lizard.net/api/v3/observationtype...,[],1230764400000,None,None,None,https://demo.lizard.net/api/v3/timeseries/9218...,9218c8ae-63ff-46cb-8a5c-bba1b96dfe68,float
21,Publiek,Q::second::1::86400,None,2009-12-31 23:00:00,50,86400,3000.000,3201_PS1,NaN,NaN,...,,https://demo.lizard.net/api/v3/observationtype...,[],1230764400000,None,None,None,https://demo.lizard.net/api/v3/timeseries/3eb2...,3eb22343-0a6c-4804-a229-3dc951e2a861,float
22,Publiek,Q::second::1::86400,None,2009-12-31 23:00:00,51,86400,0.000,3201_PS2,NaN,NaN,...,,https://demo.lizard.net/api/v3/observationtype...,[],1230764400000,None,None,None,https://demo.lizard.net/api/v3/timeseries/32a4...,32a4dce0-7a59-4737-854a-36076c2397c9,float
23,Publiek,Q::second::1::86400,None,2009-12-31 23:00:00,52,86400,1500.000,3201_PS3,NaN,NaN,...,,https://demo.lizard.net/api/v3/observationtype...,[],1230764400000,None,None,None,https://demo.lizard.net/api/v3/timeseries/9f83...,9f83393b-ebdb-44c0-882c-47d7d91e9c0e,float
24,Publiek,H.meting::second::1::900,None,2018-03-13 15:30:00,53,900,-2.372,KGM-Q-29100_boezem,NaN,"[4.709151955388156, 52.74587223407126, 0.0]",...,mNAP,https://demo.lizard.net/api/v3/observationtype...,[],1262304000000,None,None,None,https://demo.lizard.net/api/v3/timeseries/4f02...,4f0289e6-73e4-4e2a-9c35-e426453dc147,float
25,Publiek,H.meting::second::1::900,None,2017-02-02 06:00:00,54,900,-2.070,KGM-Q-29100_bovenS,NaN,"[4.709151955388156, 52.74587223407126, 0.0]",...,mNAP,https://demo.lizard.net/api/v3/observationtype...,[],1311660000000,None,None,None,https://demo.lizard.net/api/v3/timeseries/8e45...,8e454ca5-d399-4bbd-9341-379b91d9a7ac,float
26,Publiek,H.meting::second::1::900,None,2018-03-13 15:30:00,55,900,-2.052,KGM-Q-29100_in,NaN,"[4.709151955388156, 52.74587223407126, 0.0]",...,mNAP,https://demo.lizard.net/api/v3/observationtype...,[],1262304000000,None,None,None,https://demo.lizard.net/api/v3/timeseries/e428...,e428e727-467e-4849-a3ee-85c8c5323d39,float
27,Publiek,H.meting::second::1::900,None,2016-11-10 05:00:00,103,900,-1.679,KGM-Q-31595,NaN,"[5.124762436852905, 52.6520842768056, 0.0]",...,mNAP,https://demo.lizard.net/api/v3/observationtype...,[],1262304000000,None,None,None,https://demo.lizard.net/api/v3/timeseries/17e4...,17e40267-1ba4-447a-894a-8402eded4671,float
28,Publiek,H.meting::second::1::900,None,2016-08-16 11:30:00,127,900,NaN,KGM-Q-29132_in,NaN,"[4.731135190895805, 52.866988693950475, 0.0]",...,mNAP,https://demo.lizard.net/api/v3/observationtype...,[],1315893600000,None,None,None,https://demo.lizard.net/api/v3/timeseries/82f6...,82f6aea6-9953-4afd-bc2f-f544db4552ac,float
29,Publiek,H.meting::second::1::900,None,2018-03-13 15:30:00,205,900,-1.560,KGM-A-920_uit,NaN,"[4.898737830609337, 52.76083828086426, 0.0]",...,mNAP,https://demo.lizard.net/api/v3/observationtype...,[],1262304000000,None,None,None,https://demo.lizard.net/api/v3/timeseries/4c39...,4c394d87-f53a-45a6-924d-bb49aa6c78f1,float
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,Publiek,H.meting::second::1::900,None,2018-03-13 02:30:00,1379,900,-5.449,422,NaN,"[4.962726124451254, 52.76946819401606, 0.0]",...,mNAP,https://demo.lizard.net/api/v3/observationtype...,[],1311660000000,None,None,None,https://demo.lizard.net/api/v3/timeseries/9f60...,9f607c9b-d842-4b03-9e3d-d1c6a3d1529a,float
71,Publiek,H.meting::second::1::900,None,2018-03-13 15:00:00,1380,900,-1.799,MOB_MP4,NaN,"[4.965742023736158, 52.5180083949649, 0.0]",...,mNAP,https://demo.lizard.net/api/v3/observationtype...,[],1267783200000,None,None,None,https://demo.lizard.net/api/v3/timeseries/6d7d...,6d7ddf87-12ab-45de-a633-d3621ccc80ac,float
72,Publiek,H.meting::second::1::900,None,2016-08-16 11:30:00,1381,900,NaN,MOB_MP11,NaN,"[4.9708491512019135, 52.51433260525534, 0.0]",...,mNAP,https://demo.lizard.net/api/v3/observationtype...,[],1262304000000,None,None,None,https://demo.lizard.net/api/v3/timeseries/52e6...,52e626e5-802e-45a2-aa9a-79e202c1f15d,float
73,Publiek,H.meting::second::1::900,None,2018-03-13 15:30:00,1382,900,-4.315,MOB_MP5,NaN,"[4.970204346718162, 52.49540643905701, 0.0]",...,mNAP,https://demo.lizard.net/api/v3/observationtype...,[],1262304900000,None,None,None,https://demo.lizard.net/api/v3/timeseries/e7fb...,e7fbf56a-2c47-41d0-8c18-bea3131d5026,float
74,Publiek,H.meting::second::1::900,None,2016-08-16 11:30:00,1383,900,NaN,MOB_MP6,NaN,"[4.952395867899797, 52.49943178507767, 0.0]",...,mNAP,https://demo.lizard.net/api/v3/observationtype...,[],1262304000000,None,None,None,https://demo.lizard.net/api/v3/timeseries/8591...,8591ef29-fd56-41f3-93cd-1b86da4e476c,float
75,Publiek,H.meting::second::1::900,None,2017-03-18 04:45:00,1384,900,-1.474,MOB_MP7,NaN,"[4.936768388920984, 52.510956480015054, 0.0]",...,mNAP,https://demo.lizard.net/api/v3/observationtype...,[],1262304000000,None,None,None,https://demo.lizard.net/api/v3/timeseries/132b...,132b6b97-7833-4e8d-a130-deb7d706a3a3,float
76,Publiek,H.meting::second::1::900,None,2018-03-13 15:30:00,1385,900,-1.576,95,NaN,"[4.794782050444722, 52.50323232931315, 0.0]",...,mNAP,https://demo.lizard.net/api/v3/observationtype...,[],1262304000000,None,None,None,https://demo.lizard.net/api/v3/timeseries/8705...,8705cf98-14a3-4f1f-96e3-ab5a37ace2db,float
77,Publiek,H.meting::second::1::900,None,2016-08-16 11:30:00,1386,900,NaN,MOB_MP10,NaN,"[4.981419891744823, 52.5054150780019, 0.0]",...,mNAP,https://demo.lizard.net/api/v3/observationtype...,[],1262304000000,None,None,None,https://demo.lizard.net/api/v3/timeseries/d9ec...,d9ec8d7e-5577-48f2-aa5a-55e9c10a3bc5,float
78,Publiek,H.meting::second::1::900,None,2018-03-13 15:30:00,1387,900,-0.481,206,NaN,"[4.830069001159728, 52.53718719004564, 0.0]",...,mNAP,https://demo.lizard.net/api/v3/observationtype...,[],1311660000000,None,None,None,https://demo.lizard.net/api/v3/timeseries/ef5a...,ef5ab79d-1c19-4be7-bc97-58a000182cf7,float
79,Publiek,H.meting::second::1::900,None,2018-03-13 15:30:00,1388,900,-0.481,'206_peil,NaN,"[4.830069001159728, 52.53718719004564, 0.0]",...,mNAP,https://demo.lizard.net/api/v3/observationtype...,[],1311660000000,None,None,None,https://demo.lizard.net/api/v3/timeseries/ba41...,ba41f806-8115-47b0-a442-1b9177223e41,float
80,Publiek,H.meting::second::1::900,None,2018-03-13 15:30:00,1389,900,-0.481,206_peil2,NaN,"[4.830069001159728, 52.53718719004564, 0.0]",...,mNAP,https://demo.lizard.net/api/v3/observationtype...,[],1322090100000,None,None,None,https://demo.lizard.net/api/v3/timeseries/2450...,24506a70-69bb-43dc-b0cc-7be2acf71291,float
81,Publiek,H.meting::second::1::900,None,2018-03-13 15:30:00,1390,900,-4.335,MP_555,NaN,"[4.948212768677802, 52.59404230032487, 0.0]",...,mNAP,https://demo.lizard.net/api/v3/observationtype...,[],1350454500000,None,None,None,https://demo.lizard.net/api/v3/timeseries/2160...,21602acb-6755-4950-acde-843c2c95715e,float
82,Publiek,H.meting::second::1::900,None,2018-03-13 15:30:00,1391,900,-1.754,904,NaN,"[5.05486856111601, 52.66265464732495, 0.0]",...,mNAP,https://demo.lizard.net/api/v3/observationtype...,[],1311660000000,None,None,None,https://demo.lizard.net/api/v3/timeseries/82c1...,82c13e89-917a-4422-892c-be2c46b28ae6,float
83,Publiek,WNS1400.1h::second::1::3600,None,2018-03-13 15:00:00,1392,3600,NaN,06210,NaN,NaN,...,mm,https://demo.lizard.net/api/v3/observationtype...,[],946681200000,None,,None,https://demo.lizard.net/api/v3/timeseries/acd6...,acd6f1d5-00d8-42f5-9f21-0be60899a3ee,float
84,Publiek,WNS1400.1h::second::1::3600,None,2018-03-13 15:00:00,1393,3600,NaN,06229,NaN,NaN,...,mm,https://demo.lizard.net/api/v3/observationtype...,[],1262088000000,None,,None,https://demo.lizard.net/api/v3/timeseries/3d65...,3d6557bd-5396-4f56-a917-7b7772e7b371,float
85,Publiek,WNS1400.1h::second::1::3600,None,2018-03-13 15:00:00,1394,3600,NaN,06235,NaN,NaN,...,mm,https://demo.lizard.net/api/v3/observationtype...,[],946681200000,None,,None,https://demo.lizard.net/api/v3/timeseries/3c60...,3c6004cf-2ad4-47e9-89a0-595b9ce02bdb,float
86,Publiek,WNS1400.1h::second::1::3600,None,2018-03-13 15:00:00,1395,3600,NaN,06240,NaN,NaN,...,mm,https://demo.lizard.net/api/v3/observationtype...,[],946681200000,None,,None,https://demo.lizard.net/api/v3/timeseries/aae2...,aae25e31-3a89-46bd-a167-95a42eb2b4c2,float
87,Publiek,WNS1400.1h::second::1::3600,None,2018-03-13 15:00:00,1396,3600,NaN,06249,NaN,NaN,...,mm,https://demo.lizard.net/api/v3/observationtype...,[],946681200000,None,,None,https://demo.lizard.net/api/v3/timeseries/8d9c...,8d9c978b-1ae0-47d5-9565-b4a0c23e2105,float
88,Publiek,WNS1400.1h::second::1::3600,None,2018-03-13 15:00:00,1397,3600,NaN,06257,NaN,NaN,...,mm,https://demo.lizard.net/api/v3/observationtype...,[],988678800000,None,,None,https://demo.lizard.net/api/v3/timeseries/05bc...,05bc2d3e-e3b4-4301-884f-23b636ad98d2,float
89,Publiek,WNS1400.1h::second::1::3600,None,2018-03-13 15:00:00,1398,3600,NaN,06260,NaN,NaN,...,mm,https://demo.lizard.net/api/v3/observationtype...,[],946681200000,None,,None,https://demo.lizard.net/api/v3/timeseries/8c3b...,8c3bffcf-b0b7-4550-a5a9-c5220c29fede,float
90,Publiek,WNS1400.1h::second::1::3600,None,2018-03-13 15:00:00,1399,3600,NaN,06265,NaN,NaN,...,mm,https://demo.lizard.net/api/v3/observationtype...,[],946681200000,None,,None,https://demo.lizard.net/api/v3/timeseries/222b...,222b92bf-ad4e-4392-9452-7535d538f414,float
91,Publiek,WNS1400.1h::second::1::3600,None,2018-03-13 15:00:00,1400,3600,NaN,06267,NaN,NaN,...,mm,https://demo.lizard.net/api/v3/observationtype...,[],946681200000,None,,None,https://demo.lizard.net/api/v3/timeseries/87d3...,87d31162-cef5-4d9f-8d42-58b44f571c25,float
92,Publiek,WNS1400.1h::second::1::3600,None,2018-03-13 15:00:00,1401,3600,NaN,06269,NaN,NaN,...,mm,https://demo.lizard.net/api/v3/observationtype...,[],946681200000,None,,None,https://demo.lizard.net/api/v3/timeseries/60ab...,60ab62bd-6aa2-41f2-afa4-a94bdbd0ddcd,float
93,Publiek,WNS1400.1h::second::1::3600,None,2018-03-13 15:00:00,1402,3600,NaN,06270,NaN,NaN,...,mm,https://demo.lizard.net/api/v3/observationtype...,[],946681200000,None,,None,https://demo.lizard.net/api/v3/timeseries/12f4...,12f4fda9-9f4c-409d-9213-1d3e515f886b,float
94,Publiek,WNS1400.1h::second::1::3600,None,2018-03-13 15:00:00,1403,3600,NaN,06273,NaN,NaN,...,mm,https://demo.lizard.net/api/v3/observationtype...,[],946681200000,None,,None,https://demo.lizard.net/api/v3/timeseries/d209...,d2099c44-3cc5-4002-877f-e487928d2b8e,float
95,Publiek,WNS1400.1h::second::1::3600,None,2018-03-13 15:00:00,1404,3600,NaN,06275,NaN,NaN,...,mm,https://demo.lizard.net/api/v3/observationtype...,[],946681200000,None,,None,https://demo.lizard.net/api/v3/timeseries/a53d...,a53d79b2-bca2-4f47-8eb1-61708983b9b9,float
96,Publiek,WNS1400.1h::second::1::3600,None,2018-03-13 15:00:00,1405,3600,NaN,06278,NaN,NaN,...,mm,https://demo.lizard.net/api/v3/observationtype...,[],946681200000,None,,None,https://demo.lizard.net/api/v3/timeseries/0003...,00034b5c-62e4-4493-b5ee-279cb1f89f77,float
97,Publiek,WNS1400.1h::second::1::3600,None,2018-03-13 15:00:00,1406,3600,NaN,06279,NaN,NaN,...,mm,https://demo.lizard.net/api/v3/observationtype...,[],946681200000,None,,None,https://demo.lizard.net/api/v3/timeseries/e506...,e5063b6a-9b80-4dc1-b4fd-645d71788ee7,float
98,Publiek,WNS1400.1h::second::1::3600,None,2018-03-13 15:00:00,1407,3600,NaN,06280,NaN,NaN,...,mm,https://demo.lizard.net/api/v3/observationtype...,[],946681200000,None,,None,https://demo.lizard.net/api/v3/timeseries/fd75...,fd75b635-fe1a-4c8b-92f1-7c1ce9892fc4,float
99,Publiek,WNS1400.1h::second::1::3600,None,2018-03-13 15:00:00,1408,3600,NaN,06283,NaN,NaN,...,mm,https://demo.lizard.net/api/v3/observationtype...,[],946681200000,None,,None,https://demo.lizard.net/api/v3/timeseries/60a5...,60a5521b-5a39-4700-ab1c-8749e7535a05,float

Download van timeseries met uuid `867b166a-fa39-457d-a9e9-4bcb2ff04f61` van 31 december 1999 tot 14 februari 2018.
Dit is de metadata:

In [3]:
queryparams = {
    "end":1518631200000, 
    "start":946681200000,
    "window":"month"
}
metadata, events = cli.timeseries.download(uuid="867b166a-fa39-457d-a9e9-4bcb2ff04f61", **queryparams)
metadata

,access_modifier,code,datasource,end,id,interval,last_value,location__code,location__geometry,location__name,...,observation_type__unit,observation_type__url,percentiles,start,supplier,supplier_code,timeseries_type,url,uuid,value_type
0,Publiek,WNS1400.1h::second::1::3600,None,2018-03-13 15:00:00,1419,3600,None,06348,None,Cabauw,...,mm,https://demo.lizard.net/api/v3/observationtype...,[],946681200000,None,,None,https://demo.lizard.net/api/v3/timeseries/867b...,867b166a-fa39-457d-a9e9-4bcb2ff04f61,float

En dit is de data:

In [4]:
events[0]

      max  min  timestamp
0     2.9  0.0 2000-01-01
1     3.4  0.0 2000-02-01
2    13.2  0.0 2000-03-01
3     2.3  0.0 2000-04-01
4     6.6  0.0 2000-05-01
5     9.0  0.0 2000-06-01
6    21.9  0.0 2000-07-01
7     7.5  0.0 2000-08-01
8     7.0  0.0 2000-09-01
9     7.4  0.0 2000-10-01
10    3.3  0.0 2000-11-01
11    3.0  0.0 2000-12-01
12    4.0  0.0 2001-01-01
13    2.9  0.0 2001-02-01
14    4.6  0.0 2001-03-01
15    2.9  0.0 2001-04-01
16    3.2  0.0 2001-05-01
17   15.4  0.0 2001-06-01
18    6.2  0.0 2001-07-01
19   15.2  0.0 2001-08-01
20    6.9  0.0 2001-09-01
21    3.0  0.0 2001-10-01
22    3.3  0.0 2001-11-01
23    3.7  0.0 2001-12-01
24    6.4  0.0 2002-01-01
25    3.7  0.0 2002-02-01
26    3.7  0.0 2002-03-01
27    2.8  0.0 2002-04-01
28    2.0  0.0 2002-05-01
29    8.8  0.0 2002-06-01
..    ...  ...        ...
188   5.9  0.0 2015-09-01
189   1.5  0.0 2015-10-01
190   3.2  0.0 2015-11-01
191   4.7  0.0 2015-12-01
192   3.4  0.0 2016-01-01
193   2.4  0.0 2016-02-01
194   2.1  0.0 2016-03-01
195   3.7  0.0 2016-04-01
196   4.7  0.0 2016-05-01
197  13.3  0.0 2016-06-01
198   6.2  0.0 2016-07-01
199  21.1  0.0 2016-08-01
200   3.2  0.0 2016-09-01
201   5.2  0.0 2016-10-01
202   4.3  0.0 2016-11-01
203   1.9  0.0 2016-12-01
204   3.8  0.0 2017-01-01
205   4.3  0.0 2017-02-01
206   2.5  0.0 2017-03-01
207   3.9  0.0 2017-04-01
208   2.7  0.0 2017-05-01
209  11.1  0.0 2017-06-01
210  14.9  0.0 2017-07-01
211   5.4  0.0 2017-08-01
212   7.9  0.0 2017-09-01
213   5.1  0.0 2017-10-01
214   4.2  0.0 2017-11-01
215   3.2  0.0 2017-12-01
216   3.5  0.0 2018-01-01
217   2.0  0.0 2018-02-01

[218 rows x 3 columns]

Nu kunnen we de andere tijdseries van de zelfde locatie opzoeken op basis van de metadata. De neerslag, verdamping en windsnelheid zijn allen in meer of mindere mate gecorreleerd voor een en de zelfde locatie. We gaan hierna die data in een datafame zetten.

In [5]:
location__uuid = metadata['location__uuid'][0]
metadata_multiple, events_multiple = cli.timeseries.download(location__uuid=location__uuid, **queryparams)
columns = [x for x in metadata_multiple.columns if "observation_type" in x or  "uuid" in x]
metadata_multiple[columns]

,location__uuid,node__uuid,observation_type__code,observation_type__compartment,observation_type__description,observation_type__domain_values,observation_type__parameter,observation_type__reference_frame,observation_type__scale,observation_type__unit,observation_type__url,uuid
0,908dc271-91e8-471c-8f67-b491e48d7c99,6be7b0dd-b65b-4e33-adcc-80ef1e28b4b5,WNS1400.1h,NT,,None,Neerslag,,ratio,mm,https://demo.lizard.net/api/v3/observationtype...,867b166a-fa39-457d-a9e9-4bcb2ff04f61
1,908dc271-91e8-471c-8f67-b491e48d7c99,6be7b0dd-b65b-4e33-adcc-80ef1e28b4b5,WNS3832,LT,,None,Luchttemperatuur,,interval,oC,https://demo.lizard.net/api/v3/observationtype...,1acf8b8a-45d6-43fb-88c6-c9786f7d9663
2,908dc271-91e8-471c-8f67-b491e48d7c99,6be7b0dd-b65b-4e33-adcc-80ef1e28b4b5,WNS8874,NT,,None,Windsnelheid,,interval,m/s,https://demo.lizard.net/api/v3/observationtype...,4e769b01-488a-42e4-b7bb-cdcb8c91e4cb
3,908dc271-91e8-471c-8f67-b491e48d7c99,6be7b0dd-b65b-4e33-adcc-80ef1e28b4b5,WNS928,NT,,None,Druk,,interval,bar,https://demo.lizard.net/api/v3/observationtype...,9f36f0b2-ada8-4286-a386-b8f206096776
4,908dc271-91e8-471c-8f67-b491e48d7c99,6be7b0dd-b65b-4e33-adcc-80ef1e28b4b5,WNS9027,LT,,None,Verdamping,None,ratio,mm,https://demo.lizard.net/api/v3/observationtype...,fb30d529-1bc5-4a18-a02f-a48e0d88aa52

De data is van verschillende lengte, dat is niet te correleren. Resamplen naar maanden hadden we al gedaan uit Lizard. Daarbij kregen we per periode de min en max terug. Die gaan we correleren. We laten zien dat de tijdseries nu allen de zelfde lengte hadden. We hadden dit ook kunnen doen door eerst naar de metadata te kijken en dan pas de data op te halen.

In [6]:
indexed_events = [e.set_index('timestamp') for e in events_multiple if 'timestamp' in e.columns]
first = max([indexed.index[0] for indexed in indexed_events])
last = min([indexed.index[-1] for indexed in indexed_events])
print(first, last)
indexed_events_ranged = [e[first:last] for e in indexed_events]
[e.shape for e in indexed_events_ranged]

2014-12-01 00:00:00 2016-05-01 00:00:00

[(18, 2), (18, 2), (18, 2), (18, 2), (18, 2)]

De lengte is nu inderdaad voor allemaal hetzelfde. Nu selecteren we de max van de verschillende tijdseries:

In [7]:
observation_types = metadata_multiple['observation_type__parameter'].tolist()
max_weerdata = pd.DataFrame({observation_type: events['max'] for observation_type, events in zip(observation_types, indexed_events_ranged)})
max_weerdata

              Druk  Luchttemperatuur  Neerslag  Verdamping  Windsnelheid
timestamp
2014-12-01  1037.8               NaN       3.6         0.5           NaN
2015-01-01  1036.1              12.5       6.1         0.6          19.0
2015-02-01  1041.2              10.4       2.9         1.2          12.0
2015-03-01  1038.1              16.7       4.0         1.9          19.0
2015-04-01  1037.5              21.9       1.9         3.5          13.0
2015-05-01  1027.5              24.7       5.6         4.5          17.0
2015-06-01  1032.2              31.1       2.9         5.4          13.0
2015-07-01  1025.1              32.7      24.0         5.8          17.0
2015-08-01  1024.0              27.9      13.5         4.6           9.0
2015-09-01  1038.7              20.1       5.9         3.0          11.0
2015-10-01  1033.5              17.7       1.5         2.2           8.0
2015-11-01  1030.8              18.1       3.2         1.1          18.0
2015-12-01  1036.0              14.6       4.7         0.6          14.0
2016-01-01  1033.0              13.6       3.4         0.8          14.0
2016-02-01  1037.3              12.1       2.4         1.4          17.0
2016-03-01  1036.2              14.2       2.1         2.3          16.0
2016-04-01  1032.8              20.0       3.7         3.4          12.0
2016-05-01  1030.0              25.7       4.7         4.9          11.0

Vervolgens is het eenvoudig de correlatie te berekenen:

In [8]:
max_weerdata.corr()

,Druk,Luchttemperatuur,Neerslag,Verdamping,Windsnelheid
Druk,1.000000,-0.750063,-0.649189,-0.666295,0.092358
Luchttemperatuur,-0.750063,1.000000,0.599179,0.942602,-0.218572
Neerslag,-0.649189,0.599179,1.000000,0.516933,0.087513
Verdamping,-0.666295,0.942602,0.516933,1.000000,-0.280535
Windsnelheid,0.092358,-0.218572,0.087513,-0.280535,1.000000